


<div id="course"></div>





<table class="simple-little-table" cellspacing='0'>
    <tr>
        <th style="text-align:center"><font size="3"><span>Перший(непарний) тиждень</span></font></th>
        <th style="text-align:center"><font size="3"><span>Другий(парний) тиждень</span></font></th>
    </tr>
    <tr>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
    </tr>
    <tr class='even'>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
    </tr>
    <tr class='even'>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
        <td>
            @Html.Partial("DayOfWeek")
        </td>
    </tr>
</table>
